<div class="flex flex-col gap-2 w-full">
    <app-navbar></app-navbar>
    <div class="flex flex-row gap-2 px-4 text-ctp-text font-mont font-semibold">
      <fa-icon [icon]="faTicket" class=""></fa-icon>
      <fa-icon [icon]="faChevronRight" class=""></fa-icon>
      <p class="">Title</p>
    </div>
    
    <div class="flex flex-row gap-5 p-2 w-full font-mont text-ctp-text">
      <div class="border-ctp-crust border-r-2 w-1/5 font-semibold flex justify-start flex-col gap-5 p-2">
        @for (item of itemsLeft; track item.id) {
          <p class="p-2 hover:bg-ctp-surface0 rounded-lg">{{ item.text }}</p>
        } @empty {
          <p>There are no items.</p>
        }
        <!--  -->
      </div>
      <div class="flex flex-row w-full justify-between px-20">
        @for (menu of dataMenu; track menu.id) {
          <div class="flex flex-col font-popp text-ctp-text gap-2">
            <p class="font-semibold text-xl capitalize text-center">{{ menu.field }}</p>
  
            @for (detail of menu.details; track detail.name) {
              <div class="flex flex-col gap-1">
                <p class="font-medium text-lg text-ctp-subtext1 capitalize">{{ detail.name }}</p>
                <p class="font-light text-base text-ctp-subtext0">{{ detail.value }}</p>
              </div>
            } @empty {
              <div>No details available.</div>
            }
  
            <div>image: {{ menu.image }}</div>
          </div>
        }
      </div>
      <!--  -->
      <!--  -->
      <div class="flex flex-row w-full justify-center px-20">
        @for (ticket of dataTicket; track ticket.id) {
          <div class="flex flex-col items-center">
            <div class="flex flex-col font-popp text-ctp-text gap-2">
              <p class="font-semibold text-xl capitalize">{{ ticket.field }}</p>
              <div class="mb-4">
                <img src="{{ ticket.image }}" alt="Image for {{ ticket.field }}" class="w-full h-auto" />
              </div>
      
              @for (detail of ticket.details; track detail.name) {
                <div class="flex flex-col gap-1">
                  <p class="font-medium text-lg text-ctp-subtext1 capitalize">{{ detail.name }}</p>
                  <p class="font-light text-base text-ctp-subtext0">{{ detail.value }}</p>
                </div>
              } @empty {
                <div>No details available.</div>
              }
              <button>Guardar</button><button>Pagar</button>
            </div>
          </div>
        }
      </div>
      
      
      <!--  -->
      
</div>
  