<div class="flex flex-row justify-between items-center border-ctp-overlay0 bg-red-950 p-5 border-b-2 text-lg">
  <div>
    <fa-icon [icon]="faQuestion" class="text-ctp-mantle"></fa-icon>
  </div>

  <div class="flex flex-row gap-5 text-ctp-mantle">
    <fa-icon [icon]="faPalette" class=""></fa-icon>
    <fa-icon [icon]="faUser" class=""></fa-icon>
    <div class="flex flex-row items-center gap-2">
      <fa-icon [icon]="faClock" class=""></fa-icon>
      <p class="font-semibold text-ctp-crust">24:60</p>
    </div>
  </div>
</div>
