<div class="flex flex-col gap-2 w-full">
  <app-navbar></app-navbar>

  <div class="flex flex-row gap-2 px-4 text-ctp-text font-mont font-semibold">
    <fa-icon [icon]="faHome" class=""></fa-icon>
    <fa-icon [icon]="faChevronRight" class=""></fa-icon>
    <p class="">Title</p>
  </div>

  <div class="flex flex-row gap-5 p-2 w-full font-popp text-ctp-text">
    <div class="border-ctp-crust border-r-2 w-1/5 font-semibold flex flex-col gap-5 p-2">
      <p class="hover:bg-ctp-crust rounded-md hover:p-2">Ticket</p>
      <p>Pase Semanal</p>
      <p>[beca-comedor]</p>
    </div>
    <div>right</div>
  </div>
</div>
